APP_NAME="Lavanderia Exclusiva"
APP_ENV=local
APP_KEY=base64:CAMBIA_ESTA_CLAVE_POR_UNA_GENERADA
APP_DEBUG=true
APP_URL=http://localhost:8080
VIEW_COMPILED_PATH=storage/framework/views-runtime

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=lavanderia
DB_USERNAME=lavanderia
DB_PASSWORD=lavanderia
DB_SCHEMA=public
DB_SSLMODE=disable

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log
MAIL_MAILER=log
