<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Lavandería</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Iniciar sesión</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <input type="email" name="email" placeholder="Correo" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>
    <p>¿No tienes cuenta? <a href="{{ url_for('auth.register') }}">Regístrate aquí</a></p>
</body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="
                background:#ffdddd;
                color:#a94442;
                padding:10px;
                margin-bottom:10px;
                border-radius:5px;
                font-weight:bold;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</html>